@page
@model ADI.ADB.Pages.Compras.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="Factura">Crear Una factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].TotalFacturado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].TotalDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra[0].Descuento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Compra) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                @item.Fecha.DateTime.ToString("dd/MM/yyyy")
            </td>
            <td>    
                @Html.DisplayFor(modelItem => item.TotalFacturado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
