@page
@model ADI.ADB.Pages.Categoria.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias.Id_LineaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorias.Id_LineaNavigation.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Categorias.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
