@page
@model ADI.ADB.Pages.DetalleCompra.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleCompra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Descuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Descuento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Compra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Compra.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCompra.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetalleCompra.Producto.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DetalleCompra.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
